body[class*='plugin-name-about'] .notice,
body[class*='plugin-name-about'] .update-nag {
    display: none !important;
}

body[class*='plugin-name-about'] #wpcontent {
    padding-left: 0 !important;
}

body[class*='plugin-name-about'] #about-page {
    font-size: 16px;
}

body[class*='plugin-name-about'] #masthead {
    background-color: #fff;
    box-shadow: 0 1px 0 rgba(213, 213, 213, 0.5), 0 1px 2px #eee;
}

body[class*='plugin-name-about'] #masthead .container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px;
    max-width: 65rem;
    padding: 5px 20px;
}

body[class*='plugin-name-about'] #masthead h1 {
    font-size: 1.384rem;
    font-weight: 400;
    color: #000;
}

body[class*='plugin-name-about'] #masthead h1.dashicons-before::before {
    color: #0277bd;
    font-size: 2rem;
    line-height: 0.5;
    padding-right: 1.5rem;
}

body[class*='plugin-name-about'] #content {
    background-color: #fff;
    margin: 20px;
    padding: 1rem;
    box-shadow: 0 0 0 1px rgba(213, 213, 213, 0.5), 0 1px 2px #eee;
}

body[class*='plugin-name-about'] #content h2 {
    color: #000;
    font-size: 1.375rem; /* 22px */
    font-weight: 700;
    line-height: 1.5;
    margin: 1rem auto;
    text-align: center;
}

body[class*='plugin-name-about'] #content p {
    font-size: inherit; /* 16px */
}

body[class*='plugin-name-about'] #content p:last-child {
    margin-bottom: 0;
}

/**
 * Large devices (desktops, 992px and up)
 */
@media (min-width: 992px) {

    body[class*='plugin-name-about'] #masthead .container {
        margin: 0 auto;
        max-width: 992px;
    }

    body[class*='plugin-name-about'] #content {
        margin: 20px auto;
        max-width: 992px;
    }
}
